<section id="work">
  <div class="heading">
    <h2>Projects</h2>
    <p>Each of them is made entirely by myself</p>
    <p>
      to further develop my experince with programming languages and frameworks
    </p>
  </div>

  <div class="services-content">
    <div class="box">
      <img
        src="https://cdn.pixabay.com/photo/2023/11/03/18/34/ai-generated-8363657_1280.png"
        alt=""
      />
      <h1>AI Chatbot</h1>
      <p>
        This project is a chatbot with which you can chat just like any other
        Artificial Intelligence chatbot. It is made with JavaScript, HTML, CSS.
        It is using the Gemini API from Google. You can ask him any question and
        he will respond in seconds.
      </p>
      <a href="https://github.com/nikolay508/AI-Chatbot" target="_blank"
        >Link to the GitHub repository</a
      >
    </div>

    <div class="box">
      <img
        src="https://images.pexels.com/photos/1164572/pexels-photo-1164572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h1>School Activities</h1>
      <p>
        I created this site for my exam at SoftUni with back-end with NodeJS and
        front-end with Angular. It stores activities made by the logged-in
        users. Every logged-in user can sign for an activity and if he wants to
        find a specific one he can do so with the search feature.
      </p>
      <a
        href="https://github.com/nikolay508/SoftUni-Angular-Exam"
        target="_blank"
        >Link to the GitHub repository</a
      >
    </div>

    <div class="box">
      <img
        src="https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h1>Weather App</h1>
      <p>
        This project shows the weather info of any city. Made with JavaScript,
        HTML, CSS and API for the weather information. Just write an existing
        city in the search bar and it will show you the temperature in Celsius,
        the humidity in percentage and the wind speed in km/h
      </p>
      <a href="https://github.com/nikolay508/Weather-App" target="_blank"
        >Link to the GitHub repository</a
      >
    </div>

    <div class="box">
      <img
        src="https://images.pexels.com/photos/3243/pen-calendar-to-do-checklist.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h1>To-Do-List App</h1>
      <p>
        This project shows a to-do list so you can track and mark all your
        tasks. Just write a goal you have in mind and it will save it for you,
        click on the goal and it will safe it as done, or remove it.
      </p>
      <a href="https://github.com/nikolay508/To-Do-List-App" target="_blank"
        >Link to the GitHub repository</a
      >
    </div>

    <div class="box">
      <img
        src="https://images.pexels.com/photos/5428830/pexels-photo-5428830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h1>Quiz App</h1>
      <p>
        This project shows a quiz app so you can test your sports knowledge.
        Once you have chosen an option, it shows you if correct. There are
        couple questions and after you answer them it says how many points you
        earned
      </p>
      <a href="https://github.com/nikolay508/Quiz-App" target="_blank"
        >Link to the GitHub repository</a
      >
    </div>

    <div class="box">
      <img
        src="https://images.pexels.com/photos/3227986/pexels-photo-3227986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h1>Youtube Clone</h1>
      <p>
        This repo shows a clone of the original Youtube home page without
        functionality. I built it in order to practice my new learned skills
        with both html and css. It is a page with a navigation, footer and body
        with a couple videos.
      </p>
      <a href="https://github.com/nikolay508/Youtube-Clone/tree/main" target="_blank"
        >Link to the GitHub repository</a
      >
    </div>
  </div>
</section>
