<section id="about">
  <div class="heading">
    <h2>About</h2>
    <p>Let me introduce myself</p>
  </div>

  <div class="about-content">
    <div class="about-img">
      <img src="selfie.jpg" />
    </div>

    <div class="about-text">
      <h1>I'm Nikolay</h1>
      <p>
        I consider myself a highly motivated, hard-working, reliable and
        organised person who openly faces new challenges and does his best to
        cope with different problems. My passion for developing solutions to
        modern problems is responsible for my strong interest in software
        engineering. <br><br> I enjoy collaborating with other people in a team setting
        and I am always willing to share ideas. I am flexible and perform well
        under pressure. I have brief experience with Front-End Development and I
        am keen to further develop my knowledge and experience.
      </p>
      <a href="cv.png" target="_blank">Download CV</a>
    </div>
  </div>
</section>
