nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--second-color);
    font-weight: 700;
}

ul{
    display: flex;
}

ul li a{
    padding: 10px 22px;
    color: var(--second-color);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
}

ul li a:hover{
    background: var(--main-color);
    color: #fff;
    border: none;
}